

.app_bar {
    -fx-background-color: #434343;  /* Background color of the top bar */
    -fx-alignment: CENTER_LEFT;  /* Align the content to the left */
    -fx-font-size: 16px;  /* Set font size for the label */
    -fx-font-weight: bold;  /* Make the text bold */
    -fx-font-family: "Cairo";  /* Use the Cairo font */
    -fx-text-fill: #ffffff;  /* White text color for contrast */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);  /* Subtle shadow effect for depth */
    -fx-border-radius: 10;  /* Rounded corners for the top bar */
}


.app_bar Label {
    -fx-font-size: 20px;  /* Increase label size for visibility */
    -fx-text-fill: #ffffff;  /* Ensure the label text is white */
}
.app_right_bar{
    -fx-background-color: #434343;  /* Background color of the top bar */
}
.border-pane-center {
    -fx-background-color: #fffbf6; /* Set your background color */
    -fx-border-color: #434343; /* Border color */
    -fx-border-width: 2; /* Border width */
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-radius: 10; /* Match background radius */

}

.window_btn {
    -fx-background-color: transparent;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 5 10;
}

.window_btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.window_btn:pressed {
    -fx-background-color: rgba(200, 200, 200, 0.3);
}
